{% extends 'templates/base.html' %}

{% block styles %}

<link rel="stylesheet" href="/css/index.css" /> {% endblock %}

{% block content %}

{% include "partials/_infos.html" %}
<div class="cover"></div>
<ul class="search-results"></ul>

{% endblock content %}


{% block end_scripts %}
<script src="/vendor/material-components-web.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/chapters.js"></script>
<script src="/js/bookmark.js"></script>
<script src="/js/connect.js"></script>
{% endblock end_scripts %}
