<header class="mdc-top-app-bar">
	<div class="mdc-top-app-bar__row">
		<section
			class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"
		>
			<span class="mdc-top-app-bar__title">Manga Fetch</span>
		</section>
		<section
			class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end"
			role="toolbar"
		>
			<label class="mdc-text-field mdc-text-field--filled">
				<span class="mdc-text-field__ripple"></span>
				<span class="mdc-floating-label">rechercher</span>
				<input
					class="mdc-text-field__input"
					type="text"
					aria-labelledby="rechercher"
					id="rechercher"
				/>
				<span class="mdc-line-ripple"></span>
			</label>
			<a href="/html/index.html" class="search-tab"
				><button
					class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
					aria-label="Search"
				>
					search
				</button></a
			>
			<a href="/html/bookmarks.html" class="bookmarks-tab notification"
				><button
					class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
					aria-label="Search"
				>
					bookmark
				</button></a
			>
			<a href="/html/download.html" class="downloads-tab notification"
				><button
					class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
					aria-label="Search"
				>
					download
				</button></a
			>
		</section>
	</div>
</header>
