<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title">Manga Fetch</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <div class="mdc-select mdc-select--filled demo-width-class">
        <div class="mdc-select__anchor">
          <span class="mdc-select__ripple"></span>
          <span class="mdc-floating-label mdc-floating-label--float-above">Select the manga source</span>
          <span class="mdc-select__selected-text-container">
            <span class="mdc-select__selected-text"></span>
          </span>
          <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
              <polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
              <polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
            </svg>
          </span>
          <span class="mdc-line-ripple"></span>
        </div>
        <div class="mdc-select__menu demo-width-class mdc-menu mdc-menu-surface">
          <ul class="mdc-list sources">
          </ul>
        </div>
      </div>
      <label class="mdc-text-field mdc-text-field--filled">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label">rechercher</span>
        <input class="mdc-text-field__input" type="text" aria-labelledby="rechercher" id="rechercher" />
        <span class="mdc-line-ripple"></span>
      </label>
      <a href="/html/index.html" class="search-tab">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
      </a>
      <a href="/html/bookmarks.html" class="bookmarks-tab notification">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">bookmark</button>
      </a>
      <a href="/html/download.html" class="downloads-tab notification">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">download</button>
      </a>
    </section>
  </div>
</header>

